.BarChart-bar {
  font-size: 2.8vw;
  height: 50px;
  -webkit-transition: -webkit-transform 0.5s, -webkit-filter 0.5s;
  transition: -webkit-transform 0.5s, -webkit-filter 0.5s;
  -o-transition: transform 0.5s, filter 0.5s;
  transition: transform 0.5s, filter 0.5s;
  transition: transform 0.5s, filter 0.5s, -webkit-transform 0.5s,
    -webkit-filter 0.5s;
  -webkit-transform: perspective(1000px) translate3d(0, 1px, 0);
  transform: perspective(1000px) translate3d(0, 1px, 0);
  text-align: center;
}

.BarChart-bar:nth-child(2n) {
  background-color: var(--even);
}

.BarChart-bar:nth-child(odd) {
  background-color: var(--odd);
}

.BarChart-bar:hover {
  background-color: var(--hover);
  transition: transform 2s, filter 2s;
  filter: brightness(1);
  position: relative;
  top: 0;
  left: 0;
  z-index: 15;
  cursor: pointer;
  transform: perspective(1000px) translate3d(0px, 0px, 100px);
}
